/* https://coolors.co/331b12-eef4d4-ad343e-bbce8a-feffbe */

body {
  background-color: #331b12;
  color: #331b12;
}

nav.navbar {
  background-color: #36261E !important;
  box-shadow: 0 5px 15px black;
}


.page {
  background: #feffbe;
  box-shadow: 0 0 15px black;
  width: calc(100% - 2rem);
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
}

.form-control, .btn-primary {
  background: #bbce8a;
  border: 2px solid #331b12;
  color: #331b12;
}

.form-control:focus {
  color: #331b12;
  background: #eef4d4;
  border: 2px solid #331b12;
  outline: 0 !important;
  box-shadow: none;
}

.btn-primary:hover, .btn-primary:active {
  background: #eef4d4;
  color: #331b12;
  border: 2px solid #331b12;
}

.pass-message {
  color: #ad343e;
  border: 2px solid #ad343e;
  border-radius: 4px;
  padding: 3px 7px;
  float: right;
  line-height: 1em;
  margin: 2px;
}
